/* Base Layout */
:root {
  --blue: #4a6c8e;
  --turquoise: #468686;
  --lightgray: #e0e0e0;
  --gray: #b4b7bb;
  --darkgray: #101010;
  --white: #fff;
  --postit: #ffc;
  --yellow: #ffea08;
  --green: #cfffcf;
  --hot-pink: hotpink;
  --maxwidth: 37.5em;
}
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--darkgray);
  background-color: var(--white);
}

.bg-image {
  background-image: url("../img/website-background.jpg");
  padding: 2%;
  background-attachment: local;
}

.bg-image > div {
  background-color: var(--white);
  border-radius: 2px;
}

p:last-child {
  margin-bottom: 0;
}

p,
.tmpl-post li,
img {
  max-width: var(--maxwidth); /* 600px /16 */
  width: 100%;
  height: auto;
}

li {
  line-height: 1.7;
}

p,
.tmpl-post .tmpl-home {
  line-height: 1.7;
}

.tmpl-post > p > img {
  box-shadow: 2px 2px 4px 5px var(--hot-pink);
}

.tmpl-post > p > a > img {
  box-shadow: 2px 2px 4px 5px var(--hot-pink);
}

a[href] {
  color: var(--darkgray);
}

a[href]:visited {
  color: var(--darkgray);
}

main {
  padding: 1rem;
}

main :first-child {
  margin-top: 0;
}

blockquote {
  border-left: 2px solid var(--yellow);
  background-color: var(--postit);
  max-width: var(--maxwidth);
  padding: 1em 0.625em; /* 16px 10px /16 */
  margin-left: 0;
  font-style: italic;
  border-radius: 2px;
}

hr {
  border-top: 1px dashed var(--lightgray);
  max-width: var(--maxwidth);
  margin: 0;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  font-style: italic;
  margin: 1.2rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

header {
  border-bottom: 1px dashed var(--lightgray);
}

header:after {
  content: "";
  display: table;
  clear: both;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}

.nav-item {
  display: inline-block;
  margin-right: 1em;
  font-style: italic;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Buttondown Email Form */
.buttondown-attr {
  font-size: 0.5em;
}

.download-callout-section > form {
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--lightgray);
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--blue);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Homepage */

.about-section,
.download-callout-section {
  margin-bottom: 2rem;
}

/* Homepage Desktop */
@media only screen and (min-width: 768px) {
  .workbook-flex-callout {
    display: flex;
  }

  .workbook-flex-callout > .creativity-is-an-action-img {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  section.home-splash {
    padding: 2em;
  }
}

span.underline {
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}

.creativity-is-an-action-img {
  max-width: 300px;
  margin-bottom: 1rem;
}

.home-splash {
  padding: 1em;
}

.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}

.tmpl-home h1 {
  font-size: 1.5rem;
  max-width: var(--maxwidth);
}

.bird-1 {
  width: 75px;
  position: relative;
  transform: rotate(20deg);
}

/* Homepage Callout */
.download-callout-section {
  border-radius: 2px;
  background-color: var(--postit);
  padding: 1em 0.625em; /* 16px 10px /16 */
}

.bird-2 {
  width: 75px;
  position: relative;
  float: right;
  margin: -20px;
}

/* About Homepage Section */

.curve-headshot {
  max-width: 200px;
  margin-bottom: 1rem;
  width: 25%;
  height: auto;
  float: left;
  margin-right: 2rem;
  border-radius: 50%;
  shape-outside: circle();
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Project Template Page */

/* Mobile Device */
main.tmpl-project > div {
  display: flex;
  flex-direction: column;
}

.tmpl-project > div > div > h1 {
  font-size: 1rem;
  font-style: italic;
}

.tmpl-project > div > div > h2 {
  font-size: 0.7rem;
}

.tmpl-project > div > div {
  margin-bottom: 1rem;
}

.short-project-description {
  font-size: 0.7rem;
  font-style: italic;
}

.tmpl-project > div > p {
  margin: 0;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  main.tmpl-project > div {
    display: flex;
    flex-direction: row-reverse;
  }

  .tmpl-project > div > div:first-child {
    margin-left: 1rem;
  }

  .tmpl-project > div > div {
    margin-bottom: 0;
  }
}

/* Project Overview/Preview Page */
.project-preview-page {
  display: flex;
  flex-wrap: wrap;
}

.project-preview-item > a {
  text-decoration: none;
}

.project-preview-item > a > h2:hover {
  text-decoration: underline;
}

.project-preview-item > a > h2 {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 5px;
}

.project-preview-item > a > p {
  font-size: 0.7rem;
  margin: 0;
}

.project-preview-item {
  max-width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.project-preview-image {
  width: 300px;
  max-height: 225px;
}

.project-preview-image:hover {
  opacity: 0.5;
}

/* Toolbox Page */
.tmpl-toolbox > p > img {
  max-width: 20px;
}

/* 11ty Base Blog */
table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
  color: var(--turquoise);
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

.email-sign-up-post {
  max-width: var(--maxwidth);
  background-color: var(--green);
  border-radius: 2px;
  padding: 1em;
}

label {
  font-size: 0.8rem;
}

/* Footer */

/* Footer Desktop */
@media only screen and (min-width: 768px) {
  footer {
    display: flex;
  }
}

footer {
  border-top: 1px dashed var(--lightgray);
  padding: 10px;
}

footer > p {
  margin: 0;
}
