/* Base Layout */
:root {
  --gray: #e6e5e6;
  --darkgray: #171b1b;
  --white: #fff;
  --green: #c8e44e;
  --orange: #e35e1c;
  --peach: #e19684;
  --blue: #34449b;
  --pink: #daa0d0;
  --teal: #84a2a4;
  --light-teal: #9fd2cd;
  --gradient: linear-gradient(
    0deg,
    #c8e44e 0%,
    #e35e1c 30%,
    #daa0d0 70%,
    #84a2a4 100%
  );
  --vertical-gradient: linear-gradient(
    90deg,
    #c8e44e 0%,
    #e35e1c 30%,
    #daa0d0 70%,
    #84a2a4 100%
  );
  --maxwidth: 700px;
}
* {
  box-sizing: border-box;
}

html,
body {
  padding: 1rem;
  margin: 0 auto;
  max-width: var(--maxwidth);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--darkgray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 2em;
}

p,
.tmpl-post li,
img {
  width: 100%;
  height: auto;
}

li {
  line-height: 1.7;
}

p,
.tmpl-post .tmpl-home {
  line-height: 1.7;
}

a[href] {
  color: var(--darkgray);
}

a[href]:hover {
  opacity: 0.5;
}

a[href]:visited {
  color: var(--darkgray);
}

blockquote {
  background-color: var(--gray);
  padding: 1em; /* 16px 10px /16 */
  margin: 2rem 0;
  font-weight: 600;
  border-radius: 2px;
  border: 2px solid var(--darkgray);
  box-shadow: 10px 10px var(--darkgray);
  letter-spacing: 0.4px;
  line-height: 1.5em;
}

blockquote > p {
  margin: 0;
}

hr {
  border-top: 1px solid var(--darkgray);
  opacity: 0.2;
  margin: 4em 0;
}

table {
  margin: 1em 0;
  border: 1px solid black;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid black;
  padding: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.2;
  color: var(--orange);
}

label {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

/* Homepage */

.header {
  display: flex;
  flex-direction: column;
}

.header__title {
  font-style: italic;
  font-size: 1em; /* 16px /16 */
}

.header__title :link:not(:hover) {
  text-decoration: none;
}

.nav {
  list-style: none;
}

.nav__item {
  display: inline-block;
  margin-left: 0;
  font-style: italic;
  margin-right: 1em;
}

.nav__item a[href]:not(:hover) {
  text-decoration: none;
}

.nav__item-active {
  font-weight: 700;
  text-decoration: underline;
}

.home__hero {
  margin: 6em 0;
}

.calloutbox {
  padding: 1em;
  margin: 2rem 0;
  border-radius: 2px;
}

.calloutbox__h2 {
  margin-top: 0;
}

.freebie {
  background-color: var(--gray);
  border: 2px solid var(--darkgray);
  box-shadow: 10px 10px var(--darkgray);
}

.freebie__consultation {
  background-color: var(--light-teal);
  border: 2px solid var(--teal);
  box-shadow: 10px 10px var(--teal);
}

.callout__left {
  margin-bottom: 1rem;
}

.gradient__text {
  background-image: var(--vertical-gradient);
  background-color: var(--orange);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.curve__image {
  max-width: 200px;
  margin-bottom: 1rem;
  width: 25%;
  height: auto;
  float: left;
  margin-right: 2rem;
  border-radius: 50%;
  shape-outside: circle();
}

/* Direct Link Markdown Headers */
.direct-link {
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Project Overview Page */
.project-preview__link {
  text-decoration: none;
}

.project-preview__title {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 5px;
}

.project-preview__description {
  font-size: 0.7rem;
  margin: 0;
}

.project-preview__item:hover {
  opacity: 0.5;
}

.project-preview__item {
  margin-bottom: 20px;
}

/* Toolbox Page */
.tmpl-toolbox > p > img {
  max-width: 20px;
}

/* Buttondown Email Form */
.email {
  background: var(--gradient);
}

/* Forms */

.form__label-hidden {
  display: none;
}

.form__input {
  line-height: 1.7;
  font-size: 1em;
}

.form__input.form__input-buttondown-email-address {
  width: 79%;
}

.button.form__input {
  margin-top: 1em;
}

.form__input,
.form__text-area,
.button {
  border: 2px solid var(--darkgray);
  font-family: "Rubik", sans-serif;
  border-radius: 2px;
  padding: 0 4px;
}

.form__aside-text {
  font-size: 0.7rem;
  color: var(--orange);
}

.button {
  width: fit-content;
  font-weight: 500;
  text-transform: uppercase;
}

.form__contact-input {
  width: 100%;
}

.form__text-area {
  min-height: 160px;
  text-transform: none;
  margin-bottom: 0;
  resize: none;
  padding: 4px;
}

.form__button {
  cursor: pointer;
  background-color: transparent;
}

.form__input-wrap {
  margin-bottom: 1em;
}

/* Buttons */
.button > a {
  text-decoration: none;
}

.button.button__colorful {
  background: var(--vertical-gradient);
}

.center {
  display: flex;
  justify-content: center;
}

/* Footer */
.footer {
  margin-top: 4rem;
  padding: 10px 0;
}

.footer__links {
  margin-top: 1rem;
}

.footer__link {
  margin: 0;
}

.creative-retreat-toolkit-icon {
  width: 200px;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist__item:before {
  display: inline-block;
  pointer-events: none;
  line-height: 100%;
  text-align: right;
}

.postlist__date,
.postlist__item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}

.postlist__date {
  word-spacing: -0.5px;
}

.postlist__link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .callout__container {
    display: flex;
  }

  .callout__header {
    margin-top: 0;
  }

  .callout__left {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .callout__left-image {
    width: 300px;
  }

  .callout__list {
    padding-left: 1.2em;
  }

  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav__item {
    margin-left: 2em;
  }
  .footer__links {
    display: flex;
    justify-content: space-between;
  }
  .project-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project-preview__item {
    max-width: 290px;
  }
  .project-preview__image {
    width: 290px;
    height: 225px;
  }
}
