/* Base Layout */
:root {
  --gray: #b4b7bb;
  --darkgray: #101010;
  --white: #fff;
  --postit: #ffc;
  --yellow: #ffea08;
  --green: #cfffcf;
  --orange: #f96825;
  --limegreen: #5de652;
  --pink: #f7a0c4;
  --lightpink: #f7c7db;
  --orange-pink-linear-gradient: linear-gradient(
    -10deg,
    #f7a0c4 0%,
    #f96825 100%
  );
  --green-orange-linear-gradient: linear-gradient(
    -10deg,
    #f96825 0%,
    #cfffcf 100%
  );
  --yellow-green-linear-gradient: linear-gradient(
    -10deg,
    #cfffcf 0%,
    #ffea08 100%
  );
  --maxwidth: 700px;
}
* {
  box-sizing: border-box;
}

html,
body {
  padding: 1rem;
  margin: 0 auto;
  max-width: var(--maxwidth);
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--darkgray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
}

p,
.tmpl-post li,
img {
  width: 100%;
  height: auto;
}

li {
  line-height: 1.7;
}

p,
.tmpl-post .tmpl-home {
  line-height: 1.7;
}

a[href] {
  color: var(--darkgray);
}

a[href]:hover {
  opacity: 0.5;
}

a[href]:visited {
  color: var(--darkgray);
}

blockquote {
  background-color: var(--lightpink);
  padding: 1em; /* 16px 10px /16 */
  margin: 2rem 0;
  font-family: "Rubik", sans-serif;
  color: var(--orange);
  font-weight: 500;
  border-radius: 2px;
}

blockquote a[href] {
  color: var(--orange);
}

blockquote > p {
  margin: 0;
}

hr {
  border-top: 1px solid var(--darkgray);
  opacity: 0.2;
  margin: 4em 0;
}

/* Header */

header {
  display: flex;
  flex-direction: column;
}

.home {
  font-style: italic;
  font-size: 1em; /* 16px /16 */
}

.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  list-style: none;
}

.nav-item {
  display: inline-block;
  margin-left: 0;
  font-style: italic;
  margin-right: 1em;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  line-height: 100%;
  text-align: right;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--orange);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Homepage */

/* Homepage Desktop */
@media only screen and (min-width: 768px) {
  .flex-callout {
    display: flex;
  }

  .flex-callout > div > h3 {
    margin-top: 0;
  }

  .flex-callout > .flex-callout-img {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin-left: 2em;
  }
}

/* Homepage Callout */
.callout-section,
.email-sign-up-post {
  border-radius: 2px;
  padding: 1em; /* 16px 10px /16 */
}

.yellow-green-gradient {
  background: var(--yellow-green-linear-gradient);
}

.green-orange-gradient {
  background: var(--green-orange-linear-gradient);
}

.email-sign-up-post {
  background: var(--orange-pink-linear-gradient);
}

section.hero {
  margin: 6em 0;
}

img.fruit-parfait {
  width: 50px;
  float: right;
}

.flex-callout-img {
  margin-bottom: 1rem;
}

span.underline {
  background: var(--orange-pink-linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* About */
.curve {
  max-width: 200px;
  margin-bottom: 1rem;
  width: 25%;
  height: auto;
  float: left;
  margin-right: 2rem;
  border-radius: 50%;
  shape-outside: circle();
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}

a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}

a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Project Overview/Preview Page */
.project-preview-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-preview-item > a {
  text-decoration: none;
}

.project-preview-item > a > h2:hover {
  text-decoration: underline;
}

.project-preview-item > a > h2 {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 5px;
}

.project-preview-item > a[href] > h2:hover {
  text-decoration: none;
}

.project-preview-item > a > p {
  font-size: 0.7rem;
  margin: 0;
}

.project-preview-item:hover {
  opacity: 0.5;
}

.project-preview-item {
  max-width: 290px;
  margin-bottom: 20px;
}

.project-preview-image {
  width: 290px;
  height: 225px;
}

/* Toolbox Page */
.tmpl-toolbox > p > img {
  max-width: 20px;
}

/* 11ty Base Blog */
table {
  margin: 1em 0;
  border: 1px solid black;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid black;
  padding: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.2;
  color: var(--orange);
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}

label {
  font-size: 0.8rem;
}

.hide-form-email-label {
  display: none;
}

.button,
input[type="submit"],
input[type="email"] {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  border: 1px solid var(--darkgray);
  border-radius: 2px;
  padding: 0 4px;
}

.button:hover,
input[type="submit"]:hover {
  opacity: 0.5;
}

input[type="submit"],
input[type="email"] {
  font-size: 1rem;
  line-height: 1.7;
}

input[type="email"] {
  width: 60%;
}

input[type="submit"] {
  cursor: pointer;
  background-color: transparent;
}

.button {
  width: fit-content;
}

.button > a {
  text-decoration: none;
}

p.button,
p.sales {
  background-color: var(--green);
  border: 1px solid var(--limegreen);
}

p.button,
p.sales > a[href] {
  color: var(--limegreen);
}

.center {
  display: flex;
  justify-content: center;
}

/* Footer */

/* Footer Desktop */
@media only screen and (min-width: 768px) {
  .footer-links {
    display: flex;
    justify-content: space-between;
  }
}

.footer-links {
  margin-top: 1rem;
}

.footer-links > div > p {
  margin: 0;
}

footer {
  margin-top: 4rem;
  padding: 10px 0;
}

.creative-retreat-toolkit-icon {
  width: 200px;
}
