<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}">
    <meta property="og:description" content="{{ renderData.description or description or metadata.description }}">
    <meta property="og:image" content="{{ renderData.image or image or metadata.image }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="samantha-andrews.com">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@samandrewsmakes" />
    <meta name="twitter:creator" content="@samandrewsmakes" />
    <meta name="twitter:image" content="{{ renderData.image or image or metadata.image }}" />
    <meta name="twitter:card" content="summary">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">
        <a href="{{ '/' | url }}">Samantha Andrews</a>
      </h1>

      {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
      <ul class="nav" style="padding-inline-start: 0;">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav__item{% if entry.url == page.url %} nav__item-active{% endif %}">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer class="footer">
      <div class="calloutbox email">
        <h2>Subscribe to Gradient Mesh—An email newsletter for artists and makers</h2>
        <p>Gradient Mesh is about making art without an art degree, paying attention, and keeping the promises we make to ourselves. It's about practice. And quitting. And starting again.</p>
        <p>It arrives in your inbox every Sunday morning and is best consumed with a hot beverage. My goal is to teach you a little bit about design, help you get organized to better manage your creative projects, and offer up some thoughtful (and sometimes weird) recommendations.</p>
        <form
                action="https://buttondown.email/api/emails/embed-subscribe/samantha-andrews"
                method="post"
                target="popupwindow"
                onsubmit="window.open('https://buttondown.email/samantha-andrews', 'popupwindow')"
                class="embeddable-buttondown-form"
                >
          <label class="form__label-hidden" for="bd-email" type="hidden">Email address</label>
          <input class="form__input form__input-buttondown-email-address" type="email" name="email" placeholder="Email address" id="bd-email">
          <input type="hidden" value="1" name="embed"></input>
          <input class="button form__input form__button" type="submit" value="Subscribe ✉"></input>
          <p>
            <a class="email-archives__link" href="https://buttondown.email/samantha-andrews/archive">Read the archives</a>
          </p>
        </form>
      </div>
      <div class="footer__links">
        <div>
          <p class="footer__link">
            <a href="{{ metadata.instagram }}">Instagram</a>
          </p>
          <p class="footer__link">
            <a href="{{ metadata.twitter }}">Twitter</a>
          </p>
          <p class="footer__link">
            <a href="{{ metadata.github }}">GitHub</a>
          </p>
        </div>
        <div>
          <p class="footer__link">
            <a href="{{ '/posts/commitment-to-social-justice-diversity-and-inclusion/' }}">Commitment to Social Justice, Diversity & Inclusion</a>
          </p>
          <p class="footer__link">
            <a href="mailto:{{ metadata.email }}">hello@samantha-andrews.com</a>
          </p>
          <p class="footer__link">Made with ♥ in Albuquerque, New Mexico</p>
        </div>
      </div>
    </footer>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
