---
layout: layouts/base.njk
templateClass: tmpl-home
---
<section class="home__hero">
  <h1>Samantha Andrews is a <span class="underline">designer</span>, <span class="underline">web developer</span>, and <span class="underline">multimedia artist</span> making the web a more fun and interesting place for everyone.</h1>
</section>

<hr/>

<section>
  <h2>Death to boring websites</h2>
  <p>The internet is a magical place full of possibility.</p>
  <p>So why do I see so many slow, poorly-designed, and dare I say, <em>boring</em> websites?!</p>
  <p>I specialize in building fun and interesting websites and web apps that make users say, <strong>
      <em>"Wow! I've never seen anything like this before!"</em>
    </strong>
  </p>
  <blockquote>
    I want you to feel confident that your online presence matches the effervescence of your brand, your personality, and your offering.
  </blockquote>
</section>
<hr/>
<section>
  <h3>Who are you?</h3>
  <ul>
    <li>
        An <strong>artist</strong> or <strong>designer</strong> who wants a bespoke portfolio site that's so much more than a gallery of static images.
    </li>
    <li>
        A <strong>nonprofit</strong> looking to expand your outreach with a single-page web app that takes users on an educational journey.
    </li>
    <li>
        A <strong>creative business owner</strong> ready to level-up your marketing game with a share-worthy micro site that will generate buzz for your offering.
    </li>
    <li>
        A <strong>startup</strong> that needs a brand-spankin'-new website. You're excited by the possibility of using a modern JavaScript solution instead of Wordpress or SquareSpace.
    </li>
  </ul>
  <blockquote>
    Are you dreaming up the magical possibilities for your online presence right now? A custom online quiz reminiscent of the ones from Seventeen magazine? A custom Instagram filter? A button that spits glitter? Something totally weird and wacky that you've never seen anyone do on the internet before?!
    <br/>
    <br/>
    <p class="button button__colorful">
      <a href="{{ '/hire-me/' | url }}">Get in touch ✌︎</a>
    </p>
  </blockquote>
</section>
<hr/>
<section>
  <h3>Why hire me to build your website?</h3>
  <ul>
    <li>
        In addition to making your website reflect your brand's personality, I'll also ensure that it is <strong>accessible</strong>, <strong>fast</strong>, and <strong>SEO-optimized</strong>.
    </li>
    <li>
        I’m a designer who codes! Which means you don’t have to hire two separate people to execute your vision.
    </li>
    <li>
        I'm a good communicator, reliable, autonomous, pragmatic and happy to project manage myself and/or a wider team.
    </li>
    <li>
        I use a modern JavaScript tech stack for my projects which allows me to build blazing-fast websites and apps that are 100% customizable. For most static websites, I use Gatsby or Next.js. For other projects, I use React or Vue.
    </li>
    <li>
      I want to partner with you on your JavaScript project for the long term. From design and planning, through to development, launch, and further improvements.
    </li>
  </ul>
</section>
<hr/>
<section>
  <div class="calloutbox freebie__consultation">
    <h2>
      Not sure what you want to create?
    </h2>
    <p>
      <strong>Get my FREE custom "Weird Website Idea" pitch!</strong>
    </p>
    <p>Submit a simple 4-question survey and I'll email you back with a couple out-of-the-box ideas for your website.</p>
    <p>If you like my pitch, we can set up a call to discuss how I an further assist upgrading your online presence.</p>
    <p class="button">
      <a href="#">Get your free Weird Website Idea ⍨</a>
    </p>
  </div>
</section>

<hr/>

<div>
  {{ content | safe }}
</div>
