---
layout: layouts/base.njk
templateClass: tmpl-home
---
<div class="callout">
    <p>I am a multi-media artist, programmer, and writer based in Albuquerque, New Mexico. Recovering productivity addict. Currently exploring what it means to live a creative life. On an eternal quest to find the best spaghetti recipe.</p>
    <p>Subscribe to my weekly-ish newsletter for inspiration & tips to help you start and finish big, scary creative projects. Also for birds, DIY projects, recipes, and mindfulness exercises to nurture your inner artist :)</p>
    <p>You can also follow me on social media at the links below:</p>
    <ul>
        <li>
            <a href="https://www.instagram.com/samantha.spaghetti/">Instagram</a>
        </li>
        <li>
            <a href="https://twitter.com/samspaghettiii">Twitter</a>
        </li>
        <li>
            <a href="https://www.behance.net/samanthaandrews">Behance</a>
        </li>
    </ul>
    <img class="bird-2" alt="bird flying to the left" src="../../img/bird-2.png"/>
</div>
{{ content | safe }}