---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{{ content | safe }}

<p class="button"><a href="{{ '/posts' | url }}">← Blog</a></p>

<div class="calloutbox email">
    <h2>Subscribe to Gradient Mesh—An email newsletter for artists and makers</h2>
    <p>Gradient Mesh is about making art without an art degree, paying attention, and keeping the promises we make to ourselves. It's about practice. And quitting. And starting again.</p>
    <p>It arrives in your inbox once a month (usually on a Sunday) and is best consumed with a hot beverage. In each newsletter I will share all the messy parts along my journey to becoming a full-time artist and maker, help you get organized to better manage your creative projects, and offer up some thoughtful (and sometimes weird) recommendations.</p>
    <form
            action="https://buttondown.email/api/emails/embed-subscribe/samantha-andrews"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/samantha-andrews', 'popupwindow')"
            class="embeddable-buttondown-form"
            >
      <label class="form__label-hidden" for="bd-email" type="hidden">Email address</label>
      <input class="form__input form__input-buttondown-email-address" type="email" name="email" placeholder="Email address" id="bd-email">
      <input type="hidden" value="1" name="embed"></input>
      <input class="button form__input form__button" type="submit" value="Subscribe ✉"></input>
      <p>
        <a class="button email-archives__link" href="https://buttondown.email/samantha-andrews/archive">Read the archives</a>
      </p>
    </form>
  </div>

<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js" data-pin-hover="true"></script>

