---
layout: layouts/base.njk
templateClass: tmpl-project
---
<h1>{{ title }}, {{ date }}</h1>
<p>{{ description }}</p>
{{ content | safe }}
<p class="button"><a href="{{ '/projects' | url }}">← Projects</a></p>
